@model Pastelaria.Domain.Usuario.Dto.UsuarioDto
@{
    ViewBag.Title = "Tela de Login";
}


<form action="Home/Principal" method="POST">
    <fieldset>
        <legend> Entre com seu usuário e senha</legend>
        <div>
            @Html.LabelFor(x => x.Id)
        </div>
        <div>
            @Html.EditorFor(x => x.Id)
        </div>
        <div>
            @Html.LabelFor(x => x.Senha)
        </div>
        <div>
            @Html.PasswordFor(x => x.Senha)
        </div>
        <p>
            @Html.ValidationSummary()
        </p>
        <p><input type="submit" value="Entrar" /></p>
    </fieldset>
</form>
